@font-face {
    font-family: 'HabboTwelve';
    src: url('/assets/fonts/15_HabboTwelveBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/15_HabboTwelveBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight:bold;
}
@font-face {
    font-family: 'HabboTwelve';
    src: url('/assets/fonts/260_HabboTwelveRg.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/260_HabboTwelveRg.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
}
@font-face {
    font-family: 'Volter';
    src: url('/assets/fonts/volter.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/volter.ttf') format('truetype'); /* Safari, Android, iOS */
}
* {
    font-smooth:never;
    -webkit-font-smoothing: none;
}
img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
body,html {
    font-family: 'HabboTwelve';

}

.search-input {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'HabboTwelve';
}
.site-title:hover {
    background-image: unset !important;
}
.site-footer {
    font-size: 0.8rem !important;
}
.site-header {
    border-bottom: unset !important;
    background-color: #c6b518;
}
.site-button:hover {
    color: #7b7b29 !important;
    background-image: unset;
}
.site-button .icon {
    color:#7b7b29;
}
.side-bar {
    color:#99ff66;
    background: repeating-linear-gradient(to bottom,  #325509 0px 3px, #195004 3px 6px)
}
.nav-list .nav-list-item .nav-list-expander:hover {
    background-image: unset !important;
}
.nav-list .nav-list-item .nav-list-expander {
    color: #99ff66 !important
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: unset !important;
    color: #99ff66 !important;
    font-weight: bold;
}
.nav-list .nav-list-item .nav-list-link {
    color: #99ff66 !important;
}
span::before .habbo-icon {
    font-family: 'Volter';
}
span::before .habbo-icon .fish {
    content: "\00AC";
}
