@font-face {
    font-family: 'HabboTwelve';
    src: url('/assets/fonts/15_HabboTwelveBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/15_HabboTwelveBold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight:bold;
}
@font-face {
    font-family: 'HabboTwelve';
    src: url('/assets/fonts/260_HabboTwelveRg.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/260_HabboTwelveRg.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
}
@font-face {
    font-family: 'Volter';
    src: url('/assets/fonts/volter.woff') format('woff'), /* Pretty Modern Browsers */
    url('/assets/fonts/volter.ttf') format('truetype'); /* Safari, Android, iOS */
}
* {
    //font-smooth:never;
    //-webkit-font-smoothing: none;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
::selection {
    background: #5c5962;
}
body,html {
    font-family: 'HabboTwelve';
    font-size: 18px;
}
h4,.text-delta {
    font-size: 0.8rem !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.search-input:focus+.search-label .search-icon {
    color: #195004;
}
a {
    color: #959396;
}

.search-input {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'HabboTwelve';
}
.site-title:hover {
    background-image: unset !important;
}
.site-footer {
    font-size: 0.8rem !important;
}
.site-header {
    border-bottom: unset !important;
    background-color: #c6b518;
}
.site-button:hover {
    color: #7b7b29 !important;
    background-image: unset;
}
.site-button .icon {
    color:#7b7b29;
}
.breadcrumb-nav-list-item {
    font-size: 0.8rem !important;
}
.side-bar {
    color:#99ff66;
    background: repeating-linear-gradient(to bottom,  #325509 0px 2px, #195004 2px 4px)
}
.nav-list .nav-list-item .nav-list-expander:hover {
    background-image: unset !important;
}
.nav-list .nav-list-item .nav-list-expander {
    color: #99ff66 !important
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: unset !important;
    color: #99ff66 !important;
    font-weight: bold;
}
.nav-list .nav-list-item .nav-list-link {
    color: #99ff66 !important;
}
.icon {
    color:#195004;
}
.main-content .anchor-heading svg {
    color:#195004;
}

// ICONS
span.habbo-icon::before {
    font-family: 'Volter';
}
span.habbo-icon.fish::before {
    content: "\00AC";
}
span.habbo-icon.heart::before {
    content: "\007C";
}
span.habbo-icon.star::before {
    content: "\00A5";
}
span.habbo-icon.skull::before {
    content: "\00AA";
}
span.habbo-icon.phone::before {
    content: "\00B1";
}
span.habbo-icon.coffee::before {
    content: "\00B5";
}
span.habbo-icon.lightbulb::before {
    content: "\00B6";
}
span.habbo-icon.lightning::before {
    content: "\00BA";
}
span.habbo-icon.thumb-up::before {
    content: "\2022";
}
span.habbo-icon.thumb-down::before {
    content: "\00F7";
}
span.habbo-icon.music::before {
    content: "\2014";
}
span.habbo-icon.lock::before {
    content: "\2018";
}
span.habbo-icon.stop::before {
    content: "\2021";
}
span.habbo-icon.bomb::before {
    content: "\2020";
}


